<svg viewBox="0 0 26 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<title>Cart Icon</title>
	<g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="Home-V1-–-Mobile" transform="translate(-356.000000, -100.000000)" fill="#000000" fill-rule="nonzero">
			<g id="Cart-Icon" transform="translate(357.000000, 101.000000)">
				<path d="M23,5.25 L1,5.25 C0.0335016878,5.25 -0.75,6.03350169 -0.75,7 L-0.75,29 C-0.75,29.9664983 0.0335016878,30.75 1,30.75 L23,30.75 C23.9664983,30.75 24.75,29.9664983 24.75,29 L24.75,7 C24.75,6.03350169 23.9664983,5.25 23,5.25 Z M1,6.75 L23,6.75 C23.1380712,6.75 23.25,6.86192881 23.25,7 L23.25,29 C23.25,29.1380712 23.1380712,29.25 23,29.25 L1,29.25 C0.861928813,29.25 0.75,29.1380712 0.75,29 L0.75,7 C0.75,6.86192881 0.861928813,6.75 1,6.75 Z" id="Rectangle"></path>
				<path d="M12,-0.75 C15.6486046,-0.75 18.6210814,2.14484695 18.7459181,5.76302843 L18.75,6 L17.25,6 C17.25,3.10050506 14.8994949,0.75 12,0.75 C9.17299244,0.75 6.86786837,2.98444888 6.75437905,5.78359538 L6.75,6 L5.25,6 C5.25,2.27207794 8.27207794,-0.75 12,-0.75 Z" id="Path"></path>
			</g>
		</g>
	</g>
</svg>